<!-- username, user_arr, fish_arr(name, wiki), click_user_fish, fav_fish_arr-->
<h1>Welcome, <%= username %></h1>

<h2>Users</h2>
<table id="user_table">
  <thead>
  <tr>
    <th>Username
      <div>
        <form action="/" method="get">
          <select name="sort">
            <option value="asc">asc</option>
            <option value="desc">desc</option>
          </select>
          <button type="submit">Sort</button>
        </form>
      </div>
    </th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% user_arr.each do |user| %>
    <tr>
      <td>
        <a href="/<%= user["id"] %>"><%= user["username"] %></a>
        <% if user["id"] == session[:clicked_user_id] %>
          <ul>
            <% click_user_fish.each do |fish| %>
              <li>:: <a href="<%= fish["wiki"] %>"><%= fish["name"] %></a>

              <% if fav_fish_arr.include? ({"fish_name" => fish["name"]}) %>
                  <form method="post" action="/unfav/<%= fish["id"] %>">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="no_style" id="unfav_<%= fish["name"] %>">unfav</button>
                  </form>
              <% else %>
                  <a href="/fav/<%= fish["id"] %>">fav</a>
              <% end%>

              </li>
            <% end %>
          </ul>
        <% end %>
      </td>
      <td>
        <form method="post" action="/delete/<%= user["username"] %>">
          <input type="hidden" name="_method" value="delete"/>
          <button type="submit" class="no_style" id="delete_<%= user["username"] %>">Delete</button>
        </form>
    </tr>
  <% end %>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  </tbody>
</table>

<h2>My Fish</h2>
<table id="user_table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% fish_arr.each do |fish| %>
    <tr>
      <td><%= fish["name"] %></td>
      <td><a href="<%= fish["wiki"] %>">Wikipedia</a></td>
    </tr>
  <% end %>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  </tbody>
</table>
<a href="/fish/">
  <div id="create_fish">Create Fish</div>
</a>
<a href="/logout/">
  <div class="login">Logout</div>
</a>