<% if !session[:user_id] %>

<section class="clearfix">
  <article class="one_half">
    <form action="/login/" method="post">
      <label for="username">Username:</label><br>
      <input name="username" id="username" type="text"><br>
      <label for="password">Password:</label><br>
      <input name="password" id="password" type="password"><br>
      <button type="submit">Log In</button>
    </form>
  </article>
  <article id="right_align" class="one_half">
    <% if flash[:register_notice] %>
      <%= flash[:register_notice] %>
    <% end %>

    <a href="/register/">Register</a><br>
  </article>
</section>
<% else %>

<section class="clearfix">
  <article class="one_third">
    <h1>Welcome, <%= username %>!</h1>
  </article>
</section>

<section class="clearfix">
  <article class="one_third">
    <!-- displays list of user's fish -->
    <h2>Your Fish:</h2>
    <ul>
      <% fish_arr.each do |hsh| %>
        <li><a href="<%= hsh["wiki"] %>"><%= hsh["name"] %></a></li>
      <% end %>
    </ul>
  </article>
  <article class="one_third">
    <!-- displays list of user's favorited fish -->
    <h2>Favorited Fish:</h2>
    <ul>
      <% fav_fish_arr.each do |hsh| %>
        <li><%= hsh["fish_name"] %></a> | <a href="/unfavorite/<%= hsh["id"] %>">unfav</a></li>
      <% end %>
    </ul>
  </article>
  <article class="one_third">
    <!-- add fish form -->
    <h2>Add Fish:</h2>
    <form action="/fish/" method="post">
      <label for="fishname">Fish Name:</label><br>
      <input id="fishname" name="name" type="text"><br>
      <label for="wiki_url">Fish Wiki URL:</label><br>
      <input id="wiki_url" name="wiki" type="text"><br>
      <button type="submit">Add Fish</button>
    </form>
  </article>
</section>

<hr>

<section class="clearfix">

  <article class="one_third">
    <!-- Display Users list -->
    <h2>Users:</h2>
    <form action="/" method="get">
      <select name="sort">
        <option value="asc">asc</option>
        <option value="desc">desc</option>
      </select>
      <button type="submit">Sort</button>
    </form>
    <ul>
      <% user_arr.each do |str| %>
        <li><a href="/<%= str %>"><%= str %></a></li>
      <% end %>
    </ul>
  </article>

  <article class="one_third">
    <!-- other user's fish -->
    <h2>User's Fish:</h2>
    <% click_user_fish.each do |hsh| %>
      <li><a href="<%= hsh["wiki"] %>"><%= hsh["name"] %></a> | <a href="/favorites/<%= hsh["id"] %>">fav</a></li>
    <% end %>
  </article>

  <article class="one_third">
    <!-- Delete users form -->
    <h2>Delete Users:</h2>
    <form action="/delete/" method="post">
      <label for="delete">Enter username to delete</label><br>
      <input type="text" name="delete" id="delete"><br>
      <button type="submit">Delete</button>
    </form>
  </article>

</section>

<section class="clearfix">
  <article id="right_align" class="full_column">
    <a href="/logout/">Logout</a>
  </article>
</section>

<% end %>